<div class="row">
  <span> Rates Count: <strong>{{rates}}</strong> </span>
  - <span> Users Count: <strong>{{userDevices}}</strong> </span>
</div>
<div class="row">

  <table ng-table="ratingsTable" class="table table-bordered">
    <tr ng-repeat="record in $data" ng-init="recordIndex = $index">
      <td data-title="'Rank'"> {{$index}} </td>
      <td data-title="'Venue UID'"> {{record.venueUid}} </td>
      <td data-title="'Title'"> {{record.title}} </td>
      <td data-title="'Rating'"> {{record.rating}} </td>
      <td data-title="''" ng-init="rate = record.rating">
        <span ng-repeat="i in availableRatings">
          <input id="rate{{recordIndex}}" name="rate{{recordIndex}}"
          type="radio" class="star {split:10}"
          ng-if="rate == i" checked="checked" disabled="disabled"/>
          <input id="rate{{recordIndex}}" name="rate{{recordIndex}}"
          type="radio" class="star {split:10}"
          ng-if="rate != i" disabled="disabled"/>
        </span>
      </td>
    </tr>
  </table>

</div>
