<div>
  <span  ng-if="complete > 0"> <img width="100" height="100"  src="{{starOf(100)}}"/> </span>
  <span  ng-if="complete > 1"> <img width="100" height="100"  src="{{starOf(100)}}"/> </span>
  <span  ng-if="complete > 2"> <img width="100" height="100"  src="{{starOf(100)}}"/> </span>
  <span  ng-if="complete > 3"> <img width="100" height="100"  src="{{starOf(100)}}"/> </span>
  <span  ng-if="complete > 4"> <img width="100" height="100"  src="{{starOf(100)}}"/> </span>
  <span  ng-if="partial">
    <img width="100" height="100" src="{{starOf(partial)}}"/>
  </span>
  <span  ng-if="empty > 0"> <img width="100" height="100"  src="{{starOf('00')}}"/> </span>
  <span  ng-if="empty > 1"> <img width="100" height="100"  src="{{starOf('00')}}"/> </span>
  <span  ng-if="empty > 2"> <img width="100" height="100"  src="{{starOf('00')}}"/> </span>
  <span  ng-if="empty > 3"> <img width="100" height="100"  src="{{starOf('00')}}"/> </span>
  <span  ng-if="empty > 4"> <img width="100" height="100"  src="{{starOf('00')}}"/> </span>
</div>
