<div>
  <span  ng-if="complete > 0"> <img src="{{starOf(100)}}"/> </span>
  <span  ng-if="complete > 1"> <img src="{{starOf(100)}}"/> </span>
  <span  ng-if="complete > 2"> <img src="{{starOf(100)}}"/> </span>
  <span  ng-if="complete > 3"> <img src="{{starOf(100)}}"/> </span>
  <span  ng-if="complete > 4"> <img src="{{starOf(100)}}"/> </span>
  <span  ng-if="partial">
    <img src="{{starOf(partial)}}"/>
  </span>
  <span  ng-if="empty > 0"> <img src="{{starOf('00')}}"/> </span>
  <span  ng-if="empty > 1"> <img src="{{starOf('00')}}"/> </span>
  <span  ng-if="empty > 2"> <img src="{{starOf('00')}}"/> </span>
  <span  ng-if="empty > 3"> <img src="{{starOf('00')}}"/> </span>
  <span  ng-if="empty > 4"> <img src="{{starOf('00')}}"/> </span>
</div>
